.questionContainer {
  height: 100%;
  padding: 80px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question {
  color: white;
}

.option {
  color: white;
}

input[type='checkbox']:checked {
  background-color: #639754;
}

input[type='checkbox']:focus {
  box-shadow: 0 0 5px white;
}

input[type='checkbox'] {
  border: 0;
}
