.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid;
}

.buttonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  white-space: nowrap;
}
