body,
html {
  background-color: #fffbeb;
}

.background-container {
  position: relative;
}

.rectangularBG {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 800px solid #fef3c7;
}
