.Section4RectanglesContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.rectangle6 {
  position: absolute;
  top: 15%;
  left: 49vw;
  z-index: 1;
}

.rectangle7 {
  position: absolute;
  top: 33%;
  right: 42%;
}

.rectangle8 {
  position: absolute;
  top: 67%;
  right: 36%;
  z-index: 3;
}

.rectangle9 {
  position: absolute;
  top: 68%;
  right: 14.7%;
}

.rectangle10 {
  position: absolute;
  top: 17%;
  right: 15%;
  z-index: 2;
}

.rectangle11 {
  position: absolute;
  top: 57%;
  right: 3%;
}

@media screen and (max-width: 1240px) {
  .rectangle6 {
    left: -5%;
    top: 25%;
  }
  .rectangle7 {
    left: 2%;
  }
  .rectangle8 {
    left: 15%;
    top: 85%;
  }

  .rectangle9 {
    right: 28%;
    top: 83%;
  }

  .rectangle10 {
    right: 5%;
    top: 33%;
  }

  .rectangle11 {
    right: -2%;
    top: 70%;
  }
}
